<div *ngIf="isOpen" class="sidebar">
    <ul>
        <li><i class="fa fa-envelope-open" aria-hidden="true"></i>DashBoard<i class="fa fa-angle-down" aria-hidden="true"></i></li>
        <li><i class="fa fa-user" aria-hidden="true"></i>Student<i class="fa fa-angle-down" aria-hidden="true"></i></li>
        <li><i class="fa fa-users" aria-hidden="true"></i>Resource<i class="fa fa-angle-down" aria-hidden="true"></i></li>
        <li><i class="fa fa-shopping-cart" aria-hidden="true"></i>Indent<i class="fa fa-angle-down" aria-hidden="true"></i></li>
        <li><i class="fa fa-file" aria-hidden="true"></i>Invoice and Receipt<i class="fa fa-angle-down" aria-hidden="true"></i></li>
        <li><i class="fa fa-inr" aria-hidden="true"></i>Fee Structure<i class="fa fa-angle-down" aria-hidden="true"></i></li>
        <li><i class="fa fa-calendar" aria-hidden="true"></i>Time Table<i class="fa fa-angle-down" aria-hidden="true"></i></li>
        <li><i class="fa fa-line-chart" aria-hidden="true"></i>Reports<i class="fa fa-angle-down" aria-hidden="true"></i></li>
        <li><i class="fa fa-download" aria-hidden="true"></i>Downloads<i class="fa fa-angle-down" aria-hidden="true"></i></li>
    </ul>
</div>
