#logo{
    height: 80px;
    width: 150px;
    margin-top: -20px;
}
#user-img{
    height: 80px;
    width: 100px;
    margin-top: -45px;

}

ul{
    display: flex;
    
}
li{
    list-style: none;
    margin-right: 12px;
    margin-top: 20px;
    /* height: 400px;
    width:60px; */
}
#notification{
    margin-left:1050px;
    transform: scale(2);
}
#info{
    margin-top: -25px;
}
span{
    margin-left:2px;
    margin-top: 8px;
}
p {
    font-family: Lato;
  }
  .hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
  }
   
   
  .hamburger span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: #1a2580;
  }
   
  .hamburger span::before,
  .hamburger span::after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #1a2580;
    content: "";
  }
   
  .hamburger span::before {
    top: -20px;
  }
   
  .hamburger span::after {
    bottom: -20px;
  }
  #lop{
    mix-blend-mode: multiply;
    
  }
  .fa-angle-down{
    margin-left: 40px;
  }



